VITE_SUPABASE_URL=https://cyjlhgflxdqaawjnsngq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5amxoZ2ZseGRxYWF3am5zbmdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ1NjU3MTcsImV4cCI6MjA2MDE0MTcxN30.JkvEF6agkJQM3ZhTVkBY8YAmfmvgapoD-bg3bR2jheA
VITE_N8N_BOT_STATUS_WEBHOOK_URL=https://qualiver-jcs.app.n8n.cloud/webhook/904e2643-77d4-4471-975d-46e67cb24ad0
VITE_N8N_MESSAGE_WEBHOOK_URL=https://qualiver-jcs.app.n8n.cloud/webhook/904e2643-77d4-4471-975d-46e67cb24ad0